.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-rows: 1fr
}

@media screen and (max-width: 650px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 651px) and (max-width: 900px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}